h1{
      font-size: xx-large;
      font-style: normal;
      font-weight: 900;
      text-transform: uppercase;
      
  }
        
h3{
      font-size: larger;
      font-weight: 700;
   }
    
h4{
      font-size: large;
      font-weight: 500;
      font-style: oblique;
   }
.needpurple{
      color: purple;
}
#disclaimer{
      color: darkblue;
}
.uppercase{
      text-transform: uppercase;
}

.borderallin{
      border: solid 3px rgb(0, 0, 0);
      border-radius: 35px;
      text-align: center;
}
body{
      background-color: silver;
}
.margin{
      margin: 20px;
      border: solid 1px;
      border-radius: 35px;
}